<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard v1</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>150</h3>

            <p>New Orders</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>53<sup style="font-size: 20px">%</sup></h3>

            <p>Bounce Rate</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>44</h3>

            <p>User Registrations</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>65</h3>

            <p>Unique Visitors</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->

    <div _ngcontent-omk-c18="" class="col-md-12">
      <div _ngcontent-omk-c18="" class="card card-primary">
        <div _ngcontent-omk-c18="" class="card-header">
          <h3 _ngcontent-omk-c18="" class="card-title">Quick Example</h3>
        </div>
        <form _ngcontent-omk-c18="" role="form">
          <div _ngcontent-omk-c18="" class="card-body">
            <div _ngcontent-omk-c18="" class="form-group">
              <label _ngcontent-omk-c18="" for="exampleInputEmail1"
                >Email address</label
              ><input
                _ngcontent-omk-c18=""
                type="email"
                id="exampleInputEmail1"
                placeholder="Enter email"
                class="form-control"
              />
            </div>
            <div _ngcontent-omk-c18="" class="form-group">
              <label _ngcontent-omk-c18="" for="exampleInputPassword1"
                >Password</label
              ><input
                _ngcontent-omk-c18=""
                type="password"
                id="exampleInputPassword1"
                placeholder="Password"
                class="form-control"
              />
            </div>
            <div _ngcontent-omk-c18="" class="form-group">
              <label _ngcontent-omk-c18="" for="exampleInputFile"
                >File input</label
              >
              <div _ngcontent-omk-c18="" class="input-group">
                <div _ngcontent-omk-c18="" class="custom-file">
                  <input
                    _ngcontent-omk-c18=""
                    type="file"
                    id="exampleInputFile"
                    class="custom-file-input"
                  /><label
                    _ngcontent-omk-c18=""
                    for="exampleInputFile"
                    class="custom-file-label"
                    >Choose file</label
                  >
                </div>
                <div _ngcontent-omk-c18="" class="input-group-append">
                  <span _ngcontent-omk-c18="" id="" class="input-group-text"
                    >Upload</span
                  >
                </div>
              </div>
            </div>
            <div _ngcontent-omk-c18="" class="form-check">
              <input
                _ngcontent-omk-c18=""
                type="checkbox"
                id="exampleCheck1"
                class="form-check-input"
              /><label
                _ngcontent-omk-c18=""
                for="exampleCheck1"
                class="form-check-label"
                >Check me out</label
              >
            </div>
          </div>
          <div _ngcontent-omk-c18="" class="card-footer">
            <button _ngcontent-omk-c18="" type="submit" class="btn btn-primary">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
